footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:13px;
}

html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container {
    background-color:#f1f3f4;
    width: 95% !important;
}

#error{
    text-align: center;
    font-size: 3rem;
    /* display: none; */
}